html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face{
    font-family: Mars;
    src: url(./Fonts/MARSNEVENEKSK-Regular.otf);
}



body{
    align-items: center;
    display: flex;
    justify-content: center;
}
.square{
    font-family: Mars;
    font-size: 250px;
    padding-top: 50px;
    text-align: center;
    margin: 250px -20px 0 0;
    height: 200px;
    width: 200px;
    transition: 1.8s;
}

div:hover.square{
    transform: scale(0.8,1.4);
    transform: rotate(50deg);
    transform: translate(100px, 20px);
    border: none;
}

#m{
    color: rgb(38, 38, 46);
}
#a{
    color: rgb(35, 35, 45);
}
#u{
    color: rgb(32, 32, 46);
}
#r{
    color: rgb(28, 28, 46);
}
#i{
    color: rgb(24, 24, 46);
}
#c{
    color: rgb(20, 20, 46);
}
#i2{
    color: rgb(15, 15, 46);
}
#o{
    color: rgb(10, 10, 46);
}

